header {
    position: relative;
    height: 100px;
    backgroun: white;
    
  }
  .logo{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 300px;
  }
  nav {
    width: 200px;
    height: 300px;
    background: lime;
  }
  
  main {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 20px;
    background:white;
  }
  h1{
    text-align: center;
  }
  .prod{
    position: absolute;
    left: 35%;
    width: 300px;
   }
  .prod1{
    position: absolute;
    left: 0;
    width: 300px;  
  }
  .prod2{
    position: absolute;
    left: 69%;
    width: 300px;  
  }
  p{
    position: absolute;
    left: 0%;
    top: 400px;  
    font-style: italic;  
  }
  h2{
    position: absolute;
    left: 40%;
    top: 420px; 
    text-align: center; 
  }
  .adv{
    position: absolute;
    left: 0%;
    top: 445px; 
      }
  aside {
    width: 200px;
    height: 300px;
    background: lightblue;
  }
  
  footer {
    height: 100px;
    background: pink;
  }
  
  .container {
    display: flex;
    background: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 500px){
    .container {
      display: block;
      font-size: 36px;
    }
    .sidebar {
      width: 100%;
    }
    .content {
      background: pink;
    }
  }


