header {
  display: flex;
    position: relative;
    height: 50px;
    background:white;
    
  }
  .logo{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 150px;
  }
  .menu li {
    display: inline;
  }
  .menu {
    position: absolute;
    left: 10%;
    font-size: 16px;
    font-family: sans-serif;
  }

  main {
    position: relative;
    width: 100%;
    height: 800px;
    background:#e9e9e9;
    display: flex;
 }
 video{
   width: 900px;
   position: absolute;
   top: 5%;
   right: 0%;
   bottom: 0%;
   left: 40%;
 }
  .header1{
    font-family: Yandex Sans Text Web,Arial,sans-serif;
    font-size: 84px;
    font-weight: 500;
    line-height: 82px;
    margin: 0 0 22px -4px;
  }
  .par1{
    font-size: 16px;
    line-height: 25px;
    max-width: 505px;
    margin: 0 0 33px;
    padding: 0;
    color: #1a1a1a;
  }
  p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
  .vsegda{
    overflow: hidden;
  }
  .prod{
    position: absolute;
    left: 35%;
    width: 300px;
   }
  .prod1{
    position: absolute;
    left: 0;
    width: 300px;  
  }
  .prod2{
    position: absolute;
    left: 69%;
    width: 300px;  
  }
  
  
  footer {
    height: 100px;
    background: pink;
  }
  
  .container {
    display: flex;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media only screen and (max-width: 500px){
    .container {
      display: block;
      font-size: 36px;
    }
    .sidebar {
      width: 100%;
    }
    .content {
      background: pink;
    }
  }


